[run]
branch = True
concurrency = multiprocessing, thread
parallel = True
source_pkgs = grapple
omit = **/migrations/*,docs/*,tests/*

[paths]
source = grapple,.tox/py*/**/site-packages

[report]
show_missing = True
ignore_errors = True
skip_covered = True
skip_empty = true

# Regexes for lines to exclude from consideration
exclude_also =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self.debug
    if settings.DEBUG

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Nor complain about type checking
    "if TYPE_CHECKING:",
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
