Django>=3.0,<4.0
wagtail>=2.15,<4.0
wagtailmedia
graphql-core>=3.2.1
graphene-django>=3.0.0b7
factory-boy==2.12.0
wagtail-factories==2.0.0
django-cors-headers==3.4.0
wagtail-headless-preview==0.1.4
pre-commit==2.15.0
