# Test requirements.
black>=23.9.1
ruff==0.0.287

# Runtime requirements
Django>=4.2,<5.1
wagtail>=4.1
graphene-django>=3.0.0
factory-boy==3.2.1
wagtail-factories>=4.1.0
django-cors-headers==3.4.0
wagtailmedia>=0.13
wagtail-headless-preview
dj-database-url==2.1.0
# for postgres testing
psycopg2>=2.9.5,<3.0.0


# Your app in editable mode.
-e ../
